on: [push]

name: Continuous integration

jobs:
  check:
    name: Compile and Test
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install gtk3 and dependencies.
        run: |
             if [ "$RUNNER_OS" == "Linux" ]; then
                  sudo apt-get update && sudo apt install libcurl4-openssl-dev libelf-dev libdw-dev binutils-dev libgtk-3-dev libmount-dev libsoup2.4-dev libxtst-dev at-spi2-core openbox libxdo-dev
             elif [ "$RUNNER_OS" == "macOS" ]; then
                  brew install gtk+3
             fi
        shell: bash

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      
      - name: Check Code
        uses: actions-rs/cargo@v1
        with:
          command: check
          
      - name: Setup OpenBox environment.
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
                Xvfb -ac :99 -screen 0 1280x1024x16 > /dev/null 2>&1 &
                export DISPLAY=:99
                openbox &
          fi
        shell: bash
          
      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -- --test-threads=1

  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy
          override: true
      - name: Install gtk3 and dependencies.
        run: sudo apt update && sudo apt install libcurl4-openssl-dev libelf-dev libdw-dev binutils-dev libgtk-3-dev libmount-dev libsoup2.4-dev libxtst-dev at-spi2-core openbox libxdo-dev
        
      - name: Run Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
      
